*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root{
  display: flex;
  
}
.light-mode{
  --color:black;
 --background-color:white;
}
.dark-mode{
  --color:white;
 --background-color:rgb(23,32,33);
}